<ng-container *ngIf="loaded$ | ngrxPush; else loading">
  <ng-container *ngIf="error$ | ngrxPush as error; else userslist">
    <h2 class="error">{{ error }}</h2>
  </ng-container>

  <ng-template #userslist>
    <h2 class="login">{{ loginUser }}</h2>
    <repos-list />
  </ng-template>
</ng-container>

<ng-template #loading>
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
