:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.login {
  display: flex;
  align-items: center;
  padding: 3px;
  font-family: Barriecito;
  font-size: 42px;
  border-radius: 20px;
  border: 0.2rem solid darkslategray;
  color: #000;
  background-color: #fff;
}
