:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  border: thick double #32ce88;
  background-color: aqua;
}

.link {
  text-decoration: none;
}
