<ng-container *ngrxLet="{ textInfo: textInfo$, pages: pages$ } as s">
  <p class="info-panel" [ngClass]="s.textInfo.class">
    {{ s.textInfo.text }}
  </p>
  <div class="search-panel">
    <i class="bi bi-search"></i>
    <input
      *ngIf="s.pages !== 0"
      class="search"
      [ngClass]="s.textInfo.class"
      [ngModel]="userLogin"
      (ngModelChange)="onLoginChange(1, $event)"
      [disabled]="s.pages === 0"
    />
    <button
      (click)="clearSearchLogin()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <nav class="pagination" *ngIf="pages$ | ngrxPush as pages">
    <span class="badge text-bg-secondary"
      >{{ selectedPage * perPage - perPage + 1 }} -
      {{ selectedPage * perPage }}</span
    >
    <ul >
      <button
        class="pagination-item"
        (click)="onLoginChange(selectedPage - 1, userLogin)"
        [disabled]="selectedPage <= 1"
      >
        <span aria-hidden="true">&laquo;</span>
      </button>

      <button class="pagination-item" (click)="onLoginChange(1, userLogin)">
        1
      </button>

      <span aria-hidden="true">...</span>

      <button class="pagination-item" (click)="onLoginChange(pages, userLogin)">
        {{ pages }}
      </button>
      <button
        class="pagination-item"
        (click)="onLoginChange(selectedPage + 1, userLogin)"
        [disabled]="selectedPage >= pages"
      >
        <span aria-hidden="true">&raquo;</span>
      </button>
    </ul>
  </nav>
</ng-container>
