.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: darkslategray;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  text-decoration: none;
  font-family: "Monoton";
  font-size: 24px;
  border-radius: 20px;
  border: 0.2rem solid #000;
  color: #000;
  background-color: #fff;
}

.navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
}
