<ng-container *ngIf="repo">
  <button type="button" class="repo" (click)="openModal(template)">
    {{ repo.name }}
  </button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left repo-title">{{ repo.name }}</h4>
      <button
        type="button"
        class="close btn-close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body repo-info">
      <div *ngIf="repo.description">Description: {{ repo.description }}</div>
      <div>Language: {{ repo.language }}</div>
      <div>
        <p>Has Issues: {{ repo.has_issues | hasIssues }}</p>
      </div>
    </div>
    <a class="repo-link" href="{{ repo.html_url }}" target="_blank"
      ><i class="bi bi-github"></i> click to go to github</a
    >
  </ng-template>
</ng-container>
